h1 {
	font-family: Gotham, serif;
	@include fluid-type(300, 1535, 30, 75, px);
	@include molten-leading(300, 1535, 30, 100, px);
	color: $black;
	padding-left: 1vw;
}

p {
	@keyframes slide {
		0% {
			width: 0;
		}
		50% {
			width: 100%;
			left: 0;
		}
		100% {
			width: 100%;
			left: 100%;
		}
	}

	@keyframes color-change {
		0% {
			color: $grey;
		}
		50% {
			color: $white;
		}
		100% {
			color: $grey;
		}
	}
	font-family: NotoSerifSC, serif;
	@include fluid-type(300, 1535, 18, 30, px);
	color: $grey;
	position: relative;
	overflow: hidden;
	padding: 0 1vw;
	$speed: 0.7s;
	&[animate] {
		animation: color-change $speed forwards;
		&:after {
			animation: slide $speed forwards;
		}
	}
	@mixin after-back($name, $color) {
		&.#{$name}-back {
			&:after {
				background-color: $color
			}
		}
	}
	@include after-back(purple, $purple);
	@include after-back(pink, $pink);
	@include after-back(blue, $blue);
	@include after-back(green, $green);
	@include after-back(yellow, $yellow);
	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 0;
		display: block;
		z-index: -1;
	}	
}

.img-container {
	max-width: 100vw;
	width: 600px;
	img {
		width: 100%;
		height: auto;
	}

	&.med {
		max-width: 30vw;
		width: 310px;
	}
}

section {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 auto;
	max-width: 80vw;
	.img-container {
		flex-shrink: 0;
	}
	@media only screen and (max-width: 1440px) {
		&:not(.face) {
			flex-wrap: wrap;
			justify-content: center;
			.text-container {
				order: 2;
			}
			.img-container {
				order: 1;
			}
		}
	}
}

a {
	text-decoration: none;
}

.center {
	display: inline-block;
	margin: 0 auto;
}

body {
	margin: 0;
	&[menu-active] {
		overflow: hidden;
	}
}