.topics-table {
	border-collapse: collapse;
	border: 1px solid $black;
	overflow: hidden;
	margin: 0 auto;
	tr {
		text-align: center;

		th {
			color: $black;
			font-family: Gotham, serif;
			@include fluid-type(300, 1535, 20, 40, px);			
			padding: 0 40px;
			padding-top: 30px;
			padding-bottom: 15px;
			border: 1px solid $black;
		}

		td {
			font-family: NotoSerifSC, serif;
			@include fluid-type(300, 1535, 12, 30, px);				
			border-left: 1px solid $black;
			border-right: 1px solid $black;
			padding: 2vw 0;
		}
	}
}

.table-container {
	overflow-x: auto;
	display: block;
	margin-top: 20px;
}