.team-image {
  max-width: 100vw;
  width: 600px;
  padding-left: 30px;
  flex-shrink: 0;
  @include fluid(width, 300, 1535, 300, 600, px);

  img {
    width: 85%;
    height: 100%;
    object-fit: contain;
    background-color: white;
    border-radius: 20px;
  }

  &.med {
    max-width: 30vw;
    width: 310px;

    @media only screen and (max-width: 1150px) {
      max-width: 70vw;
    }
  }
}

.project-group {
  flex-direction: column;
  max-width: 90vw;
  margin: 0 auto;

  .project-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
    width: 100%;
    justify-items: center;

    .card {
      width: 100%;
      max-width: 300px;
      aspect-ratio: 4 / 3;
      position: relative;
      overflow: hidden;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        pointer-events: none;
        z-index: -1;
        object-fit: cover;
        border-radius: 12px;
      }

      .project-description {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateX(calc(-100% + 15px));
        transition: transform 0.3s ease;
        background-color: rgba(255, 255, 255, 0.9);

        h2 {
          font-family: Gotham, serif;
          @include fluid-type(300, 1535, 24, 36, px);
          text-align: center;
          margin: 0;
          padding: 10px;
        }

        .description {
          font-family: NotoSerifSC, serif;
          @include fluid-type(300, 1535, 10, 16, px);
          padding: 0 20px 20px;
          overflow-y: auto;
          max-height: 60%;
          text-align: justify;
        }
      }

      // Color theme variants
      @mixin coloring($name, $text-color, $background-color) {
        &.#{$name}-back {
          $border-color: darken($background-color, 15%);
          $background-color: rgba($background-color, 0.9);

          .project-description {
            background-color: $background-color;

            h2 {
              color: $text-color;
            }

            .description {
              color: $text-color;
              background-color: $background-color;
            }
          }
        }
      }

      @include coloring(pink, $white, $pink);
      @include coloring(green, $grey, $green);
      @include coloring(blue, $white, $blue);
      @include coloring(purple, $white, $purple);
      @include coloring(yellow, $grey, $yellow);
    }
    .card:hover .project-description,
    .card.active .project-description {
        transform: translateX(0);
    }
  }
}
