.member-gallery {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;

	.card {
		border-radius: 20px;
		background-color: $black;
		padding: 30px;
		margin: 20px;

		.img-container {
			height: 240px;
			width: 240px;
			background-color: white;
			border-radius: 100%;
			margin: 0 auto;
		}

		.position {
			color: $green;
			font-family: Gotham, serif;
			@include fluid-type(300, 1535, 30, 40, px);
			text-align: center;
			margin: 10px 0;
		}

		.name {
			color: $white;
			font-family: NotoSerifSC, serif;
			@include fluid-type(300, 1535, 20, 30, px);
			text-align: center;
			margin: 10px 0;
		}

		.social-links {
			display: flex;
			justify-content: space-around;

			.social {
				height: 61px;
				width: 61px;
				background-position: center;
				background-size: cover;
				display: block;
				cursor: pointer;
				margin: 0 5px;
				&.github {
					background-image: url("/images/github.png");
				}

				&.linkedin {
					background-image: url("/images/linkedin.png");
				}

				&.facebook {
					background-image: url("/images/facebook.png");
				}
			}
		}
	}
}