{{> title-section}}

<section>
	<div class="text-container">
		<h1>our organization.</h1>
		<p class="yellow-back">DataGood at Berkeley is UC Berkeley’s first student-run organization dedicated to tackling socio-economic issues with data science. It was established with the understanding that there is a need to make data science accessible for organizations in the social good sector — the ones that need it the most. We are a passionate group of undergraduate students conscious about wielding our skills for progress and inciting action. </p>
	</div>
	<div class="img-container">
		<img src="/images/our-mission.png" alt="Our Mission">
	</div>
</section>

<section>
	<div class="img-container">
		<img src="/images/our-organization.png" alt="Our Organization">
	</div>
	<div class="text-container">
		<h1>our mission</h1>
		<p class="blue-back">Our mission is twofold. We aim to educate our community on how data science and machine learning can be applied to health, education, sustainability, racial equity, and more. We then aim to drive innovation and guide critical business decisions through impact-driven data consulting for our partners. </p>
	</div>
</section>

<section class="sponsors">
	<h1>our sponsors.</h1>
	{{#each sponsor}}
		<a class="img-container" href="{{link}}" target="_blank" rel="noreferrer noopener">
			<img src="{{image}}" alt="{{link}}">
		</a>
	{{/each}}
</section>
