{{> title-section}}

{{!-- Animation for block entering from the right side --}}
<section class="right-enter">
	<div class="text-container">
		<h1 class="yellow-back" >our organization.</h1>
		<p>DataGood @ Berkeley, est. Fall 2020, is UC Berkeley’s first student-run organization striving to increase the accessibility of data science tools to students on the Berkeley campus and organizations that maximize social impact. We are a passionate group of individuals conscious about wielding our skills for progress and inciting action.</p>
	</div>
	<div class="img-container hover">
		<img src="/images/pages/our-mission.png" alt="Our Mission">
	</div>
</section>

<section class="left-enter">
	<div class="img-container hover">
		<img src="/images/pages/our-organization.png" alt="Our Organization">
	</div>
	<div class="text-container">
		<h1 class="blue-back">by the numbers.</h1>
		<div class="stats-grid">
			<div class="tile">
				<h1 class="large-text">61%</h1>
				<p class="description-text">Women in Leadership</p>
			</div>
			<div class="tile">
				<h1 class="large-text">7</h1>
				<p class="description-text">Semesters in Operation</p>
			</div>
			<div class="tile">
				<h1 class="large-text">18+</h1>
				<p class="description-text">Industry Projects</p>
			</div>
			<div class="tile">
				<h1 class="large-text">15+</h1>
				<p class="description-text">Research Projects</p>
			</div>
		</div>
	</div>
</section>

<section class="right-enter">
	<div class="text-container">
		<h1 class="purple-back">testimonials.</h1>
		<div class="quote-container">
			<img src="images/pages/start-quote.png" alt="Quote" class="start-quote">
			<p class="text">The DataGood team offers a valuable service to nonprofits. Organizations that are working to make the world a better place don't necessarily have access to high quality data science tools and this volunteer group is working to change that. I found their work to be prompt, professional, and most importantly very useful!<br>- Sarah Pita, Development Director for Nehemiah Gateway USA</p>
			<img src="images/pages/end-quote.png" alt="Quote" class="end-quote">
		</div>
		<div class="quote-container">
			<img src="images/pages/start-quote.png" alt="Quote" class="start-quote">
			<p class="text">The team at DataGood were energetic, committed, and reliably delivered on the project in partnership with Berkeley Disaster Preparedness Neighborhood Network (BDPNN). The results provided by the team were exceptional, offering BDPNN an expansive data library, with a multitude of possibilities to utilize for our future projects. We wholeheartedly recommend their dedicated and professional work.<br>- David Peattie, BDPNN, Board President</p>
			<img src="images/pages/end-quote.png" alt="Quote" class="end-quote">
		</div>
	</div>
</section>

<section class="sponsors">
	<h1 class="pink-back">our sponsors.</h1>
	<div class="sponsor-list">
		{{#each sponsors}}
			<a class="img-container" href="{{link}}" target="_blank" rel="noreferrer noopener">
				<img src="{{image}}" alt="{{link}}">
			</a>
		{{/each}}
	</div>
</section>
