{{> title-section}}

<section class="careers-section alone">
  <div class="text-container">
    <p>{{careers.text}}</p>
    <p>{{careers.description}}</p>
    <img src="{{careers.image}}" alt="where we go" class="careers-image">
  </div>
</section>
