{{> title-section}}

<section>
	<div class="btn blue-back center">Check-In</div>

</section>

<!--Add Google Calendar-->
<section class="face">
	<iframe src="https://calendar.google.com/calendar/b/1/embed?height=600&amp;wkst=1&amp;bgcolor=%23039BE5&amp;ctz=America%2FNew_York&amp;src=ZGF0YWdvb2RiZXJrZWxleUBnbWFpbC5jb20&amp;color=%23039BE5&amp;title=DataGood%20%40%20Berkeley%20Events&amp;showTitle=1&amp;showNav=1&amp;showDate=1&amp;showPrint=0&amp;showTabs=1&amp;showCalendars=0"
	 style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</section>
