{{> title-section}}

<section class="alone">
	<div class="text-container center">
		<p>Keep up with our lectures, workshops, and external events!</p>
	</div>
</section>

<section class="alone">
	<a class="btn blue-back center check-in" href="https://airtable.com/shrwXzYQSDuV2a8tb?backgroundColor=pink" target="_blank" rel="noreferrer noopener">Check-In</a>
</section>