<head>
	<link rel="preload" href="/css/all.css" as="style">
	<link rel="preload" href="/fullcalendar/lib/main.min.js" as="script">
	<link rel="preload" href="/scripts/gcal.js" as="script">
	<link rel="stylesheet" type="text/css" href="/fullcalendar/lib/main.min.css">
</head>

{{> title-section}}

<section class="alone">
	<div class="text-container center">
		<p>Keep up with our deadlines, club-wide meetings, workshops, and other external events!
</p>
	</div>
</section>

<section class="alone">
	<a class="btn blue-back center check-in" href="https://airtable.com/shrQCL4C8e1lj5DCh" target="_blank" rel="noreferrer noopener">Check-In</a>
</section>

<section class="alone">
	<div id="calendar"></div>
</section>

<script src="/fullcalendar/lib/main.min.js"></script>
<script src="/scripts/gcal.js"></script>
