<head>
  <link href='/fullcalendar/lib/main.css' rel='stylesheet' />
    <script src='/fullcalendar/lib/main.js'></script>
</head>

{{> title-section}}

<section class="alone">
	<div class="text-container center">
		<p>Keep up with our lectures, workshops, and external events!</p>
	</div>
</section>
<!--Add Google Calendar-->
<section class="calendar alone">
	<div id='calendar'></div>
</section>
<section class="alone">
	<div class="btn blue-back center check-in">Check-In</div>
</section>
<section class="alone">
	<iframe class="airtable-embed" src="https://airtable.com/embed/shrwXzYQSDuV2a8tb?backgroundColor=pink" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
</section>

<script src="/scripts/calendar.js"></script>
