<head>
	<link rel="preload" href="/css/all.css" as="style">
	<link rel="preload" href="/fullcalendar/lib/main.min.js" as="script">
	<link rel="preload" href="/scripts/gcal.js" as="script">
	<link rel="stylesheet" type="text/css" href="/fullcalendar/lib/main.min.css">
</head>

{{> title-section}}

<section class="alone">
	<div class="text-container center">
		<p>Keep up with our deadlines, club-wide meetings, workshops, and other external events!</p>
	</div>
</section>

<section class="alone">
	<a class="btn blue-back center check-in" href="/infosession" target="_blank" rel="noreferrer noopener">Infosession Recording</a>
</section>

<section class="alone">
	{{!-- Make sure the infosession calendar slides are published to the web here --}}
	<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTealOMjtvrEabiianxb2JXZWOvbFMpA7GERb0xeZ_6hFb8MipQy4gw-ztdKyQDDOoqKmfBug_B3GTx/pub?start=false&loop=false&delayms=5000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</section>

<section class="alone">
	<a class="btn blue-back center check-in" href="https://airtable.com/shrQCL4C8e1lj5DCh" target="_blank" rel="noreferrer noopener">Check-In</a>
</section>

{{!-- import the calendar here --}}
<section class="alone">
	<div id="calendar"></div>
</section>

<script src="/fullcalendar/lib/main.min.js"></script>
<script src="/scripts/gcal.js"></script>
