<head>
	<link rel="stylesheet" type="text/css" href="/fullcalendar/lib/main.min.css">
</head>

{{> title-section}}

<section class="alone">
	<div class="text-container center">
		<p>Keep up with our lectures, workshops, and external events!</p>
	</div>
</section>

<section class="alone">
	<a class="btn blue-back center check-in" href="https://airtable.com/shrQCL4C8e1lj5DCh" target="_blank" rel="noreferrer noopener">Check-In</a>
</section>

<section class="alone">
	<div id="calendar"></div>
</section>

<section class="alone">
	<iframe class="center" width="560" height="315" src="https://www.youtube-nocookie.com/embed/1WTtyZZRo-A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width: 70vw; height: calc(0.56 * 70vw);"></iframe>
</section>

<script src="/fullcalendar/lib/main.min.js"></script>
<script src="/scripts/gcal.js"></script>