<section class="face">
	<div class="tagline">{{config.tagline}}</div>
	<div class="img-container med">
		<img src={{config.logo}} alt="<3">
	</div>
</section>

<section>
	<div class="img-container">
		<img src="/images/learn-more.png" alt="Learn More">
	</div>
	<div class="text-container">
		<p>DataGood @ Berkeley focuses on creating an outlet for students to learn and utilize their data science and software development skills in meaningful impact driven sectors. Our members are able to learn data science techniques and principles through Education branch and apply these skills through our Projects branch. </p>
		<a class="btn pink-back" href="/about">Learn More</a>
	</div>
</section>

<section>
	<div class="img-container">
		<img src="/images/education.png" alt="Education">
	</div>
	<div class="text-container">
		<h1 class = "green-back">education.</h1>
		<p> Our Education branch aids our members in developing foundational data science and software development skills. Each lecture focuses on a unique application of data science in an impact driven sector. In addition, our take-home labs directly tackle current socioeconomic issues and initiatives so students can get a glimpse into a practical use of the lecture content. At the end of the foundational series, our members complete a final capstone project showcasing their newly developed skills!
</p>
		<a class="btn green-back" href="<!--Insert Link-->" rel="noreferrer noopener">Fall 2020 Syllabus</a>
	</div>
</section>

<section>
	<div class="text-container">
		<h1 class = "purple-back">projects.</h1>
		<p> Each semester, our members apply their data science and software development skills in meaninful projects through partnerships with our industry clients. Our clients range from non-profit organizations, medical centers, research institutues, and progress-driven startups. Check out some of our sample projects below!
</p>
		<a class="btn purple-back" href="/projects">Projects</a>
	</div>
	<div class="img-container">
		<img src="/images/consulting.png" alt="Consulting">
	</div>
</section>
