<section class="face alone">
	<div class="tagline">{{config.tagline}}</div>
	<div class="img-container med">
		<img src={{config.logo}} alt="<3">
	</div>
</section>

<section class="left-enter">
	{{!-- add button flex box --}}
	<div class="img-container hover">
		<img src="/images/pages/learn-more.png" alt="Learn More">
	</div>
	<div class="text-container">
		<p>DataGood @ Berkeley focuses on creating an outlet for students to learn and utilize their data science skills in meaningful impact driven sectors. We empower our members to design, develop, and ship out large-scale products to promote positive socio economic advancement. We welcome members of all backgrounds to join our Internal and External projects!</p>
		<a class="btn pink-back" href="/about">Learn More</a>
	</div>
</section>

<section class="right-enter">
	<div class="img-container hover">
		<img src="/images/pages/education.png" alt="Education">
	</div>
	<div class="text-container">
		<h1 class = "green-back">projects.</h1>
		<p> Through our structure of internal and external projects, we prioritize horizontal growth for our members. Each semester, we have projects which vary in data science topics such as language modeling and machine learning. We encourage our members to learn and develop skills in a multitude of areas to discover which options are right for them.</p>
		<a class="btn green-back" href="/projects">Current Projects</a>
	</div>
</section>

<section class="left-enter">
	<div class="text-container">
		<h1 class = "purple-back">develop.</h1>
		<p> Through our partnership with the Berkeley Computing, Data Science, and Society, we offer our members access to resources and guidance to help them complete their own personal projects through the Discovery Exchange. Each semester, we provide a series of workshops to help our members design, develop, and ship projects seamlessly.</p>
		<a class="btn purple-back" href="http://discoveryexchange.org/" target="_blank" rel="noreferrer noopener">Discovery Exchange</a>
	</div>
	<div class="img-container hover">
		<img src="/images/pages/consulting.png" alt="Consulting">
	</div>
</section>
