<section class="face">
	<div class="tagline">{{config.tagline}}</div>
	<div class="img-container med">
		<img src={{config.logo}} alt="<3">
	</div>
</section>

<section>
	<div class="img-container">
		<img src="/images/learn-more.png" alt="Learn More">
	</div>
	<div class="text-container">
		<p class="pink-back">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.

Turpis egestas sed tempus urna et pharetra pharetra massa. Est ante in nibh mauris cursus mattis molestie a. </p>
		<a class="btn pink-back" href="/about">Learn More</a>
	</div>
</section>

<section>
	<div class="img-container">
		<img src="/images/education.png" alt="Education">
	</div>
	<div class="text-container">
		<h1>education.</h1>
		<p class="green-back">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi. Odio facilisis mauris sit amet massa vitae tortor condimentum.</p>
		<a class="btn green-back" href="<!--Insert Link-->" rel="noreferrer noopener">Syllabus</a>
	</div>
</section>

<section>
	<div class="text-container">
		<h1>consulting.</h1>
		<p class="purple-back">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi. Odio facilisis mauris sit amet massa vitae tortor condimentum.</p>
		<a class="btn purple-back" href="/projects">Projects</a>
	</div>
	<div class="img-container">
		<img src="/images/consulting.png" alt="Consulting">
	</div>
</section>
