{{> title-section}}

<section class="alone">
	<div class="flyer-container">
		<img src="/images/pages/datagood-recruitment-timeline.webp" alt="Recruitment Timeline">
	</div>
</section>

<section class="alone">
	<div class="btn-flexbox" style="justify-content:center">
		<a class="btn pink-back" href="/events#calendar" target="_blank" rel="noreferrer noopener">Upcoming Events!</a>
		<a class="btn pink-back" href="https://forms.gle/MxDq7ywJSNNG9FCm9" target="_blank" rel="noreferrer noopener">Interest Form</a>
	</div>
</section>

<section class="right-enter">
	<div class="text-container">
		<h1 class="green-back">for students.</h1>
		<p>Join our recruitment server if you’d be interested in joining DataGood @ Berkeley! And if you want to drive change with data science, apply for our Research or Industry Project teams below.</p>
		<div class="btn-flexbox">
			<a class="btn green-back" href="https://discord.gg/NvVB5bkEsu" rel="noreferrer noopener" target="_blank">Recruitment Server</a>
			<a class="btn green-back" href="https://airtable.com/appriH3Z2nuRPo64y/shrxolNwLRkzNUvOw" rel="noreferrer noopener" target="_blank">Apply Here</a>
		</div>
	</div>
	<div class="img-container hover">
		<img src="/images/pages/for-students.png" alt="For Students">
	</div>
</section>

<section class="left-enter">
	<div class="img-container hover">
		<img src="/images/pages/for-organizations.png" alt="For Organizations">
	</div>
	<div class="text-container">
		<h1 class="pink-back">for organizations.</h1>
		<p>If you’d be interested in partnering with us to bring new tools that tackle your organization’s challenges, apply as a partner! Or, if you’d like to support our work, check out our Sponsorship package. All other inquiries can be sent to {{config.email}}.</p>
		<div class="btn-flexbox">
			<a class="btn pink-back" href="mailto:{{config.email}}" rel="noreferrer noopener" target="_blank">Email Us</a>
		</div>
	</div>
</section>
