{{> title-section}}

<section class="alone">
	<a class="btn pink-back center check-in" href="/events#calendar" target="_blank" rel="noreferrer noopener">Upcoming Events!</a>
</section>

<section class="right-enter">
	<div class="text-container">
		<h1 class="green-back">for students.</h1>
		<p>Join our recruitment server if you’d be interested in joining DataGood @ Berkeley! And if you want to drive change with data science, apply for our Internal or External Projects teams below.</p>
		<div class="btn-flexbox">
			<a class="btn green-back" href="/discord" rel="noreferrer noopener" target="_blank">Recruitment Server</a>
			<a class="btn green-back" href="https://airtable.com/shrEREQACDjEqT9bl" rel="noreferrer noopener" target="_blank">New Member Application</a>
		</div>
	</div>
	<div class="img-container hover">
		<img src="/images/pages/for-students.png" alt="For Students">
	</div>
</section>

<section class="left-enter">
	<div class="img-container hover">
		<img src="/images/pages/for-organizations.png" alt="For Organizations">
	</div>
	<div class="text-container">
		<h1 class="pink-back">for organizations.</h1>
		<p>If you’d be interested in partnering with us to bring new tools that tackle your organization’s challenges, apply as a partner! Or, if you’d like to support our work, check out our Sponsorship package. All other inquiries can be sent to {{config.email}}.</p>
		<a class="btn pink-back" href="/package" rel="noreferrer noopener" target="_blank">Sponsorship Package</a>
	<iframe class="airtable-embed" src="https://airtable.com/embed/shrRCDxVQKohEYvPR?backgroundColor=green" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
	</div>
</section>
