{{> title-section}}

<section>
	<div class="text-container">
		<h1>impact driven.</h1>
		<p class="yellow-back">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi. 
Turpis egestas sed tempus urna et pharetra pharetra massa. Est ante in nibh mauris cursus mattis molestie a. </p>
	</div>
	<div class="img-container">
		<img src="/images/impact-driven.png">
	</div>	
</section>

<section class="project-gallery">
	{{#each projects}}
	<a class="card" href="{{link}}">
		<div class="content">
			<h2>{{title}}</h2>
			<p>{{description}}</p>			
		</div>
		<div class="img-container">
			<img src="{{image}}">
		</div>
	</a>
	{{/each}}
</section>