.btn {
	font-family: Gotham, serif;
	@include fluid-type(300, 1535, 18, 30, px);
	@include molten-leading(300, 1535, 18, 33, px);
	color: $white;
	padding: 14px 39px;
	border-radius: 1000px;

	&.green-back {
		background-color: $green;
	}

	&.blue-back {
		background-color: $blue;
	}

	&.pink-back {
		background-color: $pink;
	}

	&.purple-back {
		background-color: $purple;
	}
}

.btn-flexbox {
	display: flex;
	width: 100%;

	.btn {
		margin-right: 37px;
	}
}