.btn {
	$border-size: 3px;
	font-family: Gotham, serif;
	@include fluid-type(300, 1535, 18, 30, px);
	@include molten-leading(300, 1535, 18, 33, px);
	color: $white;
	padding: 10px 30px;
	border-radius: 1000px;
	margin: 20px 0;
	display: inline-block;
	cursor: pointer;
	position: relative;
	border: $border-size solid transparent;
    transition: background-color 0.4s, color 0.4s;	
	&:after {
		position: absolute;
		top: -$border-size;
		left: -$border-size;
		border-radius: 1000px;
		width: 100%;
		height: 100%;    
		display: block;
		content: "";
		clip-path: polygon(50% 0, 50% 0, 50% 0, 50% 0, 50% 50%, 50% 0, 50% 0, 50% 0, 50% 0);
		@include inline-animation(0.4s linear forwards) {
			100% {
				clip-path: polygon(50% 0, 50% 0, 50% 0, 50% 0, 50% 50%, 50% 0, 50% 0, 50% 0, 50% 0);
			}
			75% {
				clip-path: polygon(50% 0, 100% 0, 100% 0, 100% 0, 50% 50%, 0 0, 0 0, 0 0, 50% 0);
			}
			50% {
				clip-path: polygon(50% 0, 100% 0, 100% 50%, 100% 50%, 50% 50%, 0 50%, 0 50%, 0 0, 50% 0);
			}
			25% {
				clip-path: polygon(50% 0, 100% 0, 100% 100%, 100% 100%, 50% 50%, 0 100%, 0 100%, 0 0, 50% 0);
			}
			0% {
				clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%, 50% 50%, 50% 100%, 0 100%, 0 0, 50% 0);
			}			
		}
	}
	@mixin back($name, $color) {
		&.#{$name}-back {
			background-color: $color;
			&:after {
				border: $border-size solid $color;
			}
			&:hover {
				color: $color;
			}
		}
	}
	@include back(green, $green);
	@include back(blue, $blue);
	@include back(yellow, $yellow);
	@include back(pink, $pink);
	@include back(purple, $purple);
	&:hover {
      background-color: $white;
      &:after {
		@include inline-animation(0.4s linear forwards) {
			0% {
				clip-path: polygon(50% 0, 50% 0, 50% 0, 50% 0, 50% 50%, 50% 0, 50% 0, 50% 0, 50% 0);
			}
			25% {
				clip-path: polygon(50% 0, 100% 0, 100% 0, 100% 0, 50% 50%, 0 0, 0 0, 0 0, 50% 0);
			}
			50% {
				clip-path: polygon(50% 0, 100% 0, 100% 50%, 100% 50%, 50% 50%, 0 50%, 0 50%, 0 0, 50% 0);
			}
			75% {
				clip-path: polygon(50% 0, 100% 0, 100% 100%, 100% 100%, 50% 50%, 0 100%, 0 100%, 0 0, 50% 0);
			}
			100% {
				clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%, 50% 50%, 50% 100%, 0 100%, 0 0, 50% 0);
			}		
		}
      }
	}
}

.btn-flexbox {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    .btn {
        margin: 20px 18px;
    }

    @media only screen and (max-width: 1000px) {
        justify-content: center;
    }
}