<!DOCTYPE html>
<html>
<head>
	<title>Data Good</title>
	<meta charset="utf-8">
	<meta name="description" content="Lorem ipsum">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2.0">
	<link rel="stylesheet" type="text/css" href="/css/all.css">
	<link rel="icon" type="image/png" href="/images/heart-logo.png">
</head>
<body>
	{{> header}}
	<div class="content">
		{{{ body }}}
	</div>
	{{> footer}}
	<script src="/scripts/all.js"></script>
</body>
</html>