@font-face {
	font-family: Gotham;
	font-display: swap;	
	src: url("/fonts/gotham-bold-webfont.woff2");
}

@font-face {
	font-family: NotoSerif;
	font-display: swap;		
	src: url("/fonts/notoserif-regular-webfont.woff2");
}

@font-face {
	font-family: NotoSerifSC;
	font-display: swap;	
	src: url("/fonts/notoserifsc-medium-webfont.woff2");
}