@font-face {
	font-family: Gotham;
	src: url("/fonts/Gotham-Bold.otf");
}

@font-face {
	font-family: NotoSerif;
	src: url("/fonts/NotoSerif-Regular.ttf");
}

@font-face {
	font-family: NotoSerifSC;
	src: url("/fonts/NotoSerifSC-Medium.otf");
}