.menu-cover {
	display: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	max-width: 90vw;
	margin: 20px auto;

	.org-name {
		font-family: Gotham, serif;
		font-size: 40px;
		color: $black;
		transition: color 0.3s;
		z-index: 3;
	}

	.hamburger {
		display: none;
		outline: none;
		position: relative;
		margin-top: 4px;
		z-index: 2;
		& > * {
			z-index: 2;
		}
		svg {
			height: 160%;
			width: auto;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			position: absolute;
			z-index: 2;

			.svg-heart {
				fill: none;
				stroke: $pink;
				stroke-miterlimit: 10;
				stroke-width: 6px;
				stroke-dasharray: 400;
				stroke-dashoffset: 400;
				transition: stroke-dashoffset 0.3s linear;
			}
		}
		.cover {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: $white;
			box-shadow: 0 0 0 0vw $pink, 0 0 0 0vw $pink, 0 0 0 0vw $pink;
			border-radius: 50%;
			z-index: 1;
			width: 2px;
			height: 2px;
			transition: box-shadow 0.3s;
		}
		&.is-active {
			.cover {
				box-shadow: 0 0 0 18vw $white, 0 0 0 150vw $pink, 0 0 0 200vw $white;
			}
		}
		&:hover {
			svg {
				.svg-heart {
					stroke-dashoffset: 0;
				}
			}
		}
	}
	nav {
		display: flex;
		.nav-btn {
			position: relative;
			cursor: pointer;
			font-family: NotoSerif, serif;
			@include fluid-type(300, 1535, 18, 25, px);
			line-height: 27px;
			color: $grey;
			.nav-txt {
				background-color: transparent;			
				margin: 10px;
				margin-top: 20px;
				margin-bottom: 8px;
				padding: 0 12px;
				padding-bottom: 12px;
				&:after {
					bottom: 13px;
					width: 0;
					height: 0;
					background-color: $grey;
					content: "";
					display: block;
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					transition: width 0.3s, height 0.3s;
				}
			}

			svg {
				height: 100%;
				width: auto;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				position: absolute;
				z-index: -1;

				.svg-heart {
					fill: none;
					stroke: $pink;
					stroke-miterlimit: 10;
					stroke-width: 6px;
					stroke-dasharray: 400;
					stroke-dashoffset: 400;
					transition: stroke-dashoffset 0.3s linear;
				}
			}

			&:hover {
				svg {
					.svg-heart {
						stroke-dashoffset: 0;
					}
				}

				.nav-txt {
					&:after {
						width: 40%;
						height: 3px;
					}
				}
			}
		}
	}
	nav:not([reveal]) {
		.nav-btn {
			&:hover {
				.nav-txt {
					background-color: $white;
					transition: background-color 0s;
				}
			}
			.nav-txt {
				transition: background-color 1s;				
			}		
		}
	}
	@media only screen and (max-width: 960px) {
		.hamburger {
			display: block;
		}
		nav {
			opacity: 0;
			transition: opacity 0.3s;
			pointer-events: none;
			position: absolute;
			flex-direction: column;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 2;
			text-align: center;
			.nav-btn {
				.nav-txt {
					transition: background-color 0.3s linear 0.3s;
					background-color: transparent;
					animation: unset;
				}
			}
		}
		@media only screen and (max-height: 400px) {
			nav {
				display: flex;
				flex-wrap: wrap;
				max-height: 70vh;
				width: 50vw;
				justify-content: center;
				.nav-btn {
					flex-grow: 0;
				}
			}
		}
	}
}

body[menu-active] {
	.org-name {
		color: $white;
	}
	.menu-cover {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
	}
}

nav[reveal] {
	pointer-events: auto;
	opacity: 1;
	.nav-btn {
		.nav-txt {
			@include inline-animation(1s forwards) {
				from {
					background-color: transparent;
				}
				to {
					background-color: $pink;
				}
			}			
			color: $black;
		}
		svg {
			.svg-heart {
				stroke: $white;
			}
		}
	}
}