.title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	max-width: 100%;

	.img-container {
		width: 100px;
		max-width: 20vw;
	}
	
	.page-title {
		color: $black;
		font-family: Gotham, serif;
		@include fluid-type(300, 1535, 60, 100, px);
		@include molten-leading(300, 1535, 60, 100, px);
		text-align: center;
	}
}